.d_product_card {
  background-color: #f5f7ff;
  flex:1;
  padding: 10px 20px;
  border-radius: 6px;
  width: 220px;

  margin-right: 20px;

}

.instockContainer {
  display: flex;
  align-items: center;
}

.instock {
  margin: 0;
  color: green;
  margin-left: 10px;
}

.flex{
  display: flex;
column-gap: 10px;
}

.review p{
  color: #A2A6B0;
  font-size: 12px;
  line-height: 210%;
}

.offerPrice p{
  text-decoration: line-through;
  color: #666666;
  font-size: 14px;
}

.price p{
  color: #000;
  font-size: 18px;
  font-weight: 600;
}