.d_product_card {
  background-color: #f5f7ff;
  flex:1;
  padding: 10px 20px;
  border-radius: 6px;
  width: 220px;

  margin-right: 20px;
  max-width: 300px;

  /* padding: 10px 20px; */
  /* border-radius: 6px; */
  /* min-width: 150px; */
  flex: 1;
display: flex;
flex-direction: column;
  gap: 10px;
  cursor: pointer;

}

.instockContainer {
  display: flex;
  align-items: center;
}

.instock {
  margin: 0;
  color: green;
  margin-left: 10px;
}


.flex{
  display: flex;
column-gap: 10px;
}

.review p{
  color: #A2A6B0;
  font-size: 12px;
  line-height: 210%;
}

.offerPrice p{
  text-decoration: line-through;
  color: #666666;
  font-size: 14px;
}

.price p{
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.instockContainer,.productTextContainer{
  margin-top: 10px;
  margin-left: 10px;
}

.customerDetailContainer{
  display: flex;
  align-items: center;
  /* justify-content: ; */
  gap: 10px;

  margin-top: -16px;
  margin-bottom: 10px;
}

.review{
  font-size: 11px;
  color: #484848;
  font-family: 'Poppins-Light';
}

.productName{
  font-size: 14px;
  font-family: 'Poppins-Light';
  word-wrap: break-word;
}


.offerPrice{
  color: #484848;
  font-size: 12px;
  text-decoration: line-through;
}

.price{
  color: #000;
  font-family: 'Poppins-SemiBold';
}

.priceContainer{
  margin-top: 10px;
}